<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zxx"> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang="zxx"> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang="zxx"> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->

<!-- Mirrored from wahabali.com/work/listingstars/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Feb 2018 09:57:34 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %} <title> Bonplan </title>{% endblock %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ asset('UserBundle/img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/bootstrap-slider.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/icomoon.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/chosen.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/prettyPhoto.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/scrollbar.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/morris.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/YouTubePopUp.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/auto-complete.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/jquery.navhideshow.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/transitions.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/style.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/color.css') }}">
    <link rel="stylesheet" href="{{ asset('UserBundle/css/responsive.css') }}">
    <script src="{{ asset('UserBundle/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
</head>

<body class="listar-home listar-homeone">
<div id="listar-wrapper" class="listar-wrapper listar-haslayout">
    {% block header %}
    <header id="listar-header" class="listar-header cd-auto-hide-header listar-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <strong class="listar-logo"><a href="dashboardaddlisting.html"><img src="{{ asset('UserBundle/images/logo.png') }}" alt="company logo here"></a></strong>
                    <nav class="listar-addnav">
                        <ul>
                            <li>
                                <a id="listar-btnsignin" class="listar-btn listar-btnblue" href="{{ path('form_login') }}">
                                    <i class="icon-smiling-face"></i>
                                    <span>Join Now</span>
                                </a>
                            </li>
                            <li>
                                <a class="listar-btn listar-btngreen" href="dashboardaddlisting.html">
                                    <i class="icon-plus"></i>
                                    <span>Add Listing</span>
                                </a>
                            </li>


                            {% if app.request.hasPreviousSession %}
                                {% for type, messages in app.session.flashbag.all() %}
                                    {% for message in messages %}
                                        <div class="flash-{{ type }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}


                            <li>
                                <div>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    {% else %}
                                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    {% endif %}
                                </div>



                            </li>
                            <li>
                                <div class="dropdown listar-themedropdown">
                                    <a id="listar-cartdropdown" class="listar-btn listar-btnround listar-btncartdropdown" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <em>2</em>
                                        <i class="icon-icons240"></i>
                                    </a>
                                    <div class="dropdown-menu listar-themedropdownmenu listar-minicart" aria-labelledby="listar-cartdropdown">
                                        <div class="listar-cartitem">
                                            <figure><a href="javascript:void(0);"><img src="{{ asset('UserBundle/images/cart/img-01.jpg') }}" alt="image description"></a></figure>
                                            <div class="listar-iteminfo">
                                                <span>Orange Juice</span>
                                                <span>2 x $15</span>
                                                <a class="listar-btndelate" href="javascript:void(0);">X</a>
                                            </div>
                                        </div>
                                        <div class="listar-cartitem">
                                            <figure><a href="javascript:void(0);"><img src="{{ asset('UserBundle/images/cart/img-01.jpg') }}" alt="image description"></a></figure>
                                            <div class="listar-iteminfo">
                                                <span>Orange Juice</span>
                                                <span>2 x $15</span>
                                                <a class="listar-btndelate" href="javascript:void(0);">X</a>
                                            </div>
                                        </div>
                                        <div class="listar-cartitem listar-totalarea">
                                            <span>Order Total:</span>
                                            <span>$60.00</span>
                                        </div>
                                        <a class="listar-btn listar-btngreen listar-btn-lg" href="javascript:void(0);">View Bag &amp; Checkout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <nav id="listar-nav" class="listar-nav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#listar-navigation" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="listar-navigation" class="collapse navbar-collapse listar-navigation">
                            <ul>
                                <li class="current-menu-item"><a href="{{ path('homeUser') }}">Home</a></li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);">Explore</a>
                                    <ul class="sub-menu">
                                        <li><a href="listingvlist.html">All Listings</a></li>
                                        <li class="menu-item-has-children">
                                            <a href="javascript:void(0);">Food</a>
                                            <ul class="sub-menu">
                                                <li><a href="listingv1.html">Cafe</a></li>
                                                <li><a href="listingv2.html">Restaurant</a></li>
                                                <li><a href="listingv1.html">Dinner</a></li>
                                                <li><a href="listingv2.html">Pizza Place</a></li>
                                                <li><a href="listingv1.html">Italian</a></li>
                                                <li><a href="listingv2.html">Bakeries</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="javascript:void(0);">Entertainment</a>
                                            <ul class="sub-menu">
                                                <li><a href="listingv1.html">Art &amp; Design</a></li>
                                                <li><a href="listingv2.html">Movie Theater</a></li>
                                                <li><a href="listingv1.html">Theme Parks</a></li>
                                                <li><a href="listingv2.html">Music Life</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="javascript:void(0);">Educational</a>
                                            <ul class="sub-menu">
                                                <li><a href="listingv1.html">School</a></li>
                                                <li><a href="listingv2.html">College</a></li>
                                                <li><a href="listingv1.html">University</a></li>
                                                <li><a href="listingv2.html">Short Courses</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="javascript:void(0);">Nightlife</a>
                                            <ul class="sub-menu">
                                                <li><a href="listingv1.html">Wine Bars</a></li>
                                                <li><a href="listingv2.html">Pubs</a></li>
                                                <li><a href="listingv1.html">Nightclub</a></li>
                                                <li><a href="listingv2.html">Lounge</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="javascript:void(0);">Outdoors</a>
                                            <ul class="sub-menu">
                                                <li><a href="listingv1.html">Boutiques</a></li>
                                                <li><a href="listingv2.html">Fashion</a></li>
                                                <li><a href="listingv1.html">Furniture</a></li>
                                                <li><a href="listingv2.html">Sport Equipment</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="howitwork.html">How It Works</a></li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="pkgprice.html">Packages</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
                                        <li><a href="contactus.html">Contact Us</a></li>
                                        <li><a href="404error.html">404 Error</a></li>
                                        <li><a href="comingsoon.html">Coming Sooon</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);">News</a>
                                    <ul class="sub-menu">
                                        <li><a href="newsv1.html">Blog Standard</a></li>
                                        <li><a href="newsv2.html">Blog Classic</a></li>
                                    </ul>
                                </li>
                                <li><a href="dashboard.html">Dasboard</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </header>
    {% endblock %}
    {% block recherche %}
        <div class="listar-homebannerslider">
            <div id="listar-homeslider" class="listar-homeslider owl-carousel">
                <div class="item"><figure><img src="{{ asset('UserBundle/images/slider/img-01.jpg') }}" alt="image description"></figure></div>
                <div class="item"><figure><img src="{{ asset('UserBundle/images/slider/img-02.jpg') }}" alt="image description"></figure></div>
                <div class="item"><figure><img src="{{ asset('UserBundle/images/slider/img-03.jpg') }}" alt="image description"></figure></div>
                <div class="item"><figure><img src="{{ asset('UserBundle/images/slider/img-04.jpg') }}" alt="image description"></figure></div>
                <div class="item"><figure><img src="{{ asset('UserBundle/images/slider/img-05.jpg') }}" alt="image description"></figure></div>
            </div>
            <div class="listar-homebanner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="listar-bannercontent">
                                <h1>Find Local Services</h1>
                                <div class="listar-description">
                                    <p>Find the best places in the city for food, activities and relaxation</p>
                                </div>
                                <form class="listar-formtheme listar-formsearchlisting">
                                    <fieldset>
                                        <div class="form-group listar-inputwithicon">
                                            <i class="icon-layers"></i>
                                            <div class="listar-select">
                                                <select id="listar-categorieschosen" class="listar-categorieschosen listar-chosendropdown">
                                                    <option>Ex: Food, Retail, hotel, cinema</option>
                                                    <option class="icon-entertainment">Art &amp; Entertainment</option>
                                                    <option class="icon-spa">Beauty &amp; Health</option>
                                                    <option class="icon-education">Education</option>
                                                    <option class="icon-healthfitness">Fitness</option>
                                                    <option class="icon-tourism">Hotels</option>
                                                    <option class="icon-localservice">Motor Mechanic</option>
                                                    <option class="icon-nightlife">Night Life</option>
                                                    <option class="icon-foods">Restaurant</option>
                                                    <option class="icon-museum">Real Estate</option>
                                                    <option class="icon-shopping">Shopping</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group listar-inputwithicon">
                                            <i class="icon-global"></i>
                                            <div class="listar-select listar-selectlocation">
                                                <select id="listar-locationchosen" class="listar-locationchosen listar-chosendropdown">
                                                    <option>Choose a Location</option>
                                                    <option>Lahore</option>
                                                    <option>Bayonne</option>
                                                    <option>Greenville</option>
                                                    <option>Manhattan</option>
                                                    <option>Queens</option>
                                                    <option>The Heights</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group listar-inputwithicon">
                                            <i class=""><img src="{{ asset('UserBundle/images/icons/icon-01.png') }}" alt="image description"></i>
                                            <p>Price: </p>
                                            <input id="listar-rangeslider" class="listar-rangeslider" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14">
                                        </div>
                                        <button type="button" class="listar-btn listar-btngreen">Search Places</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block fos_user_content %}

        {% block explore %}



        {% endblock%}
        {% block video %}

        {% endblock%}
        {% block lastcategorie %}

        {% endblock %}
        {% block new %}

        {% endblock %}
        {% block run%}


        {% endblock %}
        {% block lastestnewpost %}

        {% endblock %}
        {% block feedback%}

        {% endblock %}
        {% block three%}

        {% endblock %}


         {% block login %}







         {% endblock %}


    {% endblock fos_user_content %}

    {% block footer %}

        <footer id="listar-footer" class="listar-footer listar-haslayout">
            <div class="listar-footeraboutarea">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="listar-upperbox">
                                <strong class="listar-logo"><a href="javascript:void(0);"><img src="{{ asset('UserBundle/images/logo.png') }}" alt="image description"></a></strong>
                                <ul class="listar-socialicons">
                                    <li class="listar-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="listar-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="listar-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="listar-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="listar-vimeo"><a href="javascript:void(0);"><i class="fa fa-vimeo"></i></a></li>
                                </ul>
                                <nav class="listar-navfooter">
                                    <ul>
                                        <li><a href="javascript:void(0);">Home</a></li>
                                        <li><a href="javascript:void(0);">how it work</a></li>
                                        <li><a href="javascript:void(0);">Shop</a></li>
                                        <li><a href="javascript:void(0);">Packages</a></li>
                                        <li><a href="javascript:void(0);">News</a></li>
                                        <li><a href="javascript:void(0);">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="listar-lowerbox">
                                <div class="listar-description">
                                    <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor sit amet.</p>
                                </div>
                                <address><strong>Address:</strong> No.200 Josecph, San Francisco <span><strong>Tel:</strong> 01-987-654-3210</span></address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listar-footerbar">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="listar-copyright">Copyright &copy; 2018 Listingstar. All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

</div>
{% block footer_theme %}
    <div class="modal fade listar-placequickview" tabindex="-1" role="dialog">
        <div class="modal-dialog listar-modaldialog" role="document">
            <div class="modal-content listar-modalcontent">
                <div class="listar-themepost listar-placespost">
                    <span class="listar-btnclosequickview" data-toggle="modal" data-target=".listar-placequickview">X</span>
                    <figure class="listar-featuredimg" data-vide-bg="poster: images/post/img-16.jpg" data-vide-options="position: 50% 50%">
						<span class="listar-contactnumber">
							<i class="icon-"><img src="images/icons/icon-03.png" alt="image description"></i>
							<em> + 7890 456 133</em>
						</span>
                    </figure>
                    <div class="listar-postcontent">
                        <h3><a href="javascript:void(0);">Serena Hotel</a><i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="Verified"></i></h3>
                        <div class="listar-description">
                            <p>Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus. Mauris ac maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit Nam in mauris quis libero sodales eleifend amet rutrum elementum, est elit finibus tellus, ut tristique elit risus at metus</p>
                        </div>
                        <ul class="listar-listfeatures">
                            <li>Pets allowed</li>
                            <li>Kitchen</li>
                            <li>Internet</li>
                            <li>Suitable for events</li>
                            <li>Gym</li>
                            <li>Dryer</li>
                            <li>Hot tub</li>
                            <li>Family/kid friendly</li>
                            <li>Wireless Internet</li>
                        </ul>
                        <div class="listar-reviewcategory">
                            <div class="listar-review">
                                <span class="listar-stars"><span></span></span>
                                <em>(3 Review)</em>
                            </div>
                            <a href="javascript:void(0);" class="listar-category">
                                <i class="icon-tourism"></i>
                                <span>Hotel</span>
                            </a>
                        </div>
                        <div class="listar-themepostfoot">
							<span class="listar-openinghours">
								<i class="icon-alarmclock2"></i>
								<em>Today <span class="listar-greenthemecolor">Open Now</span> 10:00 AM - 5:00 PM</em>
							</span>
                            <div class="listar-postbtns">
                                <a class="listar-btnquickinfo listar-liked" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                <div class="listar-btnquickinfo">
                                    <div class="listar-shareicons">
                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                    </div>
                                    <a class="listar-btnshare" href="javascript:void(0);">
                                        <i class="icon-share3"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script src="{{ asset('UserBundle/js/vendor/jquery-library.js') }}"></script>
<script src="{{ asset('UserBundle/js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ asset('UserBundle/js/mapclustering/data.json') }}"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en"></script>
<script src="{{ asset('UserBundle/js/tinymce/tinymce.min4bb5.js') }}"></script>
<script src="{{ asset('UserBundle/js/mapclustering/markerclusterer.min.js') }}"></script>
<script src="{{ asset('UserBundle/js/mapclustering/infobox.js') }}"></script>
<script src="{{ asset('UserBundle/js/mapclustering/map.js') }}"></script>
<script src="{{ asset('UserBundle/js/ResizeSensor.js.js') }}"></script>
<script src="{{ asset('UserBundle/js/jquery.sticky-sidebar.js') }}"></script>
<script src="{{ asset('UserBundle/js/YouTubePopUp.jquery.js') }}"></script>
<script src="{{ asset('UserBundle/js/jquery.navhideshow.js') }}"></script>
<script src="{{ asset('UserBundle/js/backgroundstretch.js') }}"></script>
<script src="{{ asset('UserBundle/js/jquery.sticky-kit.js') }}"></script>
<script src="{{ asset('UserBundle/js/bootstrap-slider.js') }}"></script>
<script src="{{ asset('UserBundle/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('UserBundle/js/jquery.vide.min.js') }}"></script>
<script src="{{ asset('UserBundle/js/auto-complete.html') }}"></script>
<script src="{{ asset('UserBundle/js/chosen.jquery.js') }}"></script>
<script src="{{ asset('UserBundle/js/scrollbar.min.js') }}"></script>
<script src="{{ asset('UserBundle/js/isotope.pkgd.js') }}"></script>
<script src="{{ asset('UserBundle/js/jquery.steps.js') }}"></script>
<script src="{{ asset('UserBundle/js/prettyPhoto.js') }}"></script>
<script src="{{ asset('UserBundle/js/raphael-min.js') }}"></script>
<script src="{{ asset('UserBundle/js/parallax.js') }}"></script>
<script src="{{ asset('UserBundle/js/sortable.js') }}"></script>
<script src="{{ asset('UserBundle/js/countTo.js') }}"></script>
<script src="{{ asset('UserBundle/js/appear.js') }}"></script>
<script src="{{ asset('UserBundle/js/gmap3.js') }}"></script>
<script src="{{ asset('UserBundle/js/dev_themefunction.js') }}"></script>
</body>

<!-- Mirrored from wahabali.com/work/listingstars/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Feb 2018 10:03:26 GMT -->
</html>